@using HamechiTamoom.Core.DTOs
@using HamechiTamoom.Core.Services.Interfaces
@inject IUserService _userService

@{
    SideBarUserPanelViewModel user = _userService.GetSideBarUserPanelData(User.Identity.Name);
}

<div class="col-md-3">
    <aside>
        <div class="avatar-layer">
            <div class="img-layer">
                <a href="" class="change-image"><i class="zmdi zmdi-edit"></i></a>
                <img class="picture-maxwh" src="/img/UserAvatar/@user.ImageName">
            </div>
            <div class="detail text-center text-black-50">
                <span> @user.UserName </span>
            </div>
        </div>
        <div class="dashboard_tab_button">
            <ul role="tablist" class="nav flex-column dashboard-list">
                <li><a href="/UserPanel" class="nav-link bg-info">مشاهده اطلاعات حساب کاربری</a></li>
                <li><a href="/UserPanel/EditProfile" class="nav-link bg-info">ویرایش اطلاعات کاربری</a></li>
                <li><a href="#downloads" class="nav-link bg-info">تغییر کلمه عبور</a></li>
                <li><a href="#address" class="nav-link bg-info">تنظیمات حساب کاربری</a></li>
                <li><a href="/Logout" class="nav-link bg-info">خروج</a></li>
            </ul>
        </div>
        @*<section>
            <div class="inner">
                <div class="dashboard_tab_button">
                    <ul role="tablist" class="nav flex-column dashboard-list">
                        <li><a href="/UserPanel"> مشاهده حساب کابری </a></li>
                        <li><a href="/UserPanel/EditProfile" class="nav-link"> ویرایش حساب کابری </a></li>
                        <li><a href=""> تغییر رمز عبور </a></li>
                        <li><a href=""> تنظیمات حساب کاربری </a></li>
                        <li><a href="/Logout"> خروج از حساب کاربری </a></li>
                    </ul>
                </div>
            </div>
        </section>*@
    </aside>
</div>