@using HamechiTamoom.Core.DTOs
@using HamechiTamoom.Core.Services.Interfaces
@inject IUserService _userService

@{
    SideBarUserPanelViewModel user = _userService.GetSideBarUserPanelData(User.Identity.Name);
}
<div class="col-md-3">
    <aside>
        <div class="avatar-layer">
            <div class="img-layer">
                <img class="picture-maxwh" src="/img/UserAvatar/@user.ImageName">
            </div>
            <div class="detail text-center text-black-50">
                <span> @user.UserName </span>
            </div>
        </div>
        <div class="dashboard_tab_button">
            <ul role="tablist" class="nav flex-column">
                <li><a href="/UserPanel" class="nav-link bg-info">مشاهده اطلاعات حساب کاربری</a></li>
                <li><a href="/UserPanel/EditProfile" class="nav-link bg-info">ویرایش اطلاعات کاربری</a></li>
                <li><a href="/UserPanel/ChangePassword" class="nav-link bg-info">تغییر کلمه عبور</a></li>
                <li><a href="/Logout" class="nav-link bg-info">خروج</a></li>
            </ul>
        </div>
    </aside>
</div>