@using HamechiTamoom.Core.DTOs
@using HamechiTamoom.Core.Services.Interfaces
@inject IUserService _userService

@{
    SideBarUserPanelViewModel user = _userService.GetSideBarUserPanelData(User.Identity.Name);
}
<div class="border mb-2 shadow p-2 border-radius-5 col-md-3">
    <div class="col-12">
        <a href="" class="change-image"><i class="zmdi zmdi-edit"></i></a>
        <img src="/img/UserAvatar/@user.ImageName">
    </div> 
    <div class="detail text-center text-black-50">
        <span class="text-center">@user.UserName</span>
    </div>
    
</div> 