<div class="col-sm-12 col-md-3 col-lg-3">
    <!-- Nav tabs -->
    <div class="dashboard_tab_button">
        <ul role="tablist" class="nav flex-column dashboard-list">
            <li><a href="#dashboard" data-toggle="tab" class="nav-link active">مشاهده اطلاعات حساب کاربری</a></li>
            <li> <a href="#orders" data-toggle="tab" class="nav-link">ویرایش اطلاعات کاربری</a></li>
            <li><a href="#downloads" data-toggle="tab" class="nav-link">تغییر کلمه عبور</a></li>
            <li><a href="#address" data-toggle="tab" class="nav-link">تنظیمات حساب کاربری</a></li>
            <li><a href="/Logout" class="nav-link">خروج</a></li>
        </ul>
    </div>
</div>