@model HamechiTamoom.Core.DTOs.ForgotPasswordViewModel
@{
    ViewData["Title"] = "بازیابی کلمه عبور";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>بازیابی کلمه عبور</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer_login mt-60">
    <div class="container">
        @if (ViewBag.IsSuccess != null)
        {
            <p class="alert alert-success m-3">ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
        }
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>بازیابی کلمه عبور</h2>
                    <form asp-action="ForgotPassword" method="post" class="shadow">
                        <p>
                            <label>ایمیل<span>*</span></label>
                            <input asp-for="Email" type="text" class="rounded">
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </p>
                        <div class="login_submit">
                            <button type="submit">بازیابی</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--login area start-->
        </div>
    </div>
</div>