@model HamechiTamoom.Core.DTOs.ResetPasswordViewModel
@{
    ViewData["Title"] = "ویرایش کلمه عبور";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>ویرایش کلمه عبور</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="customer_login mt-60">
    <div class="container">
        <div class="row">
            <!--register area start-->
            <!--register area end-->
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>ویرایش کلمه عبور</h2>
                    <form asp-action="ResetPassword" method="post" class="shadow">
                        <input type="hidden" asp-for="ActiveCode"/>
                        <p>
                            <label>کلمه عبور<span>*</span></label>
                            <input asp-for="Password" type="password">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </p>
                        <p>
                            <label>تکرار رمز عبور<span>*</span></label> 
                            <input asp-for="RePassword" type="password">
                            <span asp-validation-for="RePassword" class="text-danger"></span>
                        </p>
                        <div class="login_submit">
                            <button type="submit">ویرایش</button>
                        </div>
                    </form>
                </div>
            </div>
            <!--login area start-->
        </div>
        @if (ViewBag.IsSuccess != null)
        {
            <p class="alert alert-success mt-3">خوش آمدید.</p>
            <script>
                // Your delay in milliseconds
                var delay = 1000;
                setTimeout(function () { window.location = "https://localhost:44387/"; }, delay);
            </script>
        }
    </div>
</div>