@{
    ViewData["Title"] = "درباره";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>درباره ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="about_section mt-60">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
                <figure>
                    <div class="about_thumb">
                        <img src="/img/about/about1.jpg" alt="">
                    </div>
                    <figcaption class="about_content">
                        <h1>آموزش مجازی با کیفیت برای همه</h1>
                        <p>هدف همه‌چی تموم در دسترس قرار دادن آموزش با کیفیت بالا برای همه‌ی فارسي‌زبانان است. ما اعتقاد داریم که هیچ کس نباید به خاطر هیچ چیز از لذت یاد گرفتن محروم شود. نباید سن و سال، مکان، موقعیت یا امکانات مالی فرد، وی را از یادگیری و موفقیت باز دارد.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<div class="about_gallery_section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <article class="single_gallery_section">
                    <figure>
                        <div class="gallery_thumb">
                            <img src="/img/about/about2.jpg" alt="">
                        </div>
                        <figcaption class="about_gallery_content">
                            <h3>ما چکار می کنیم؟</h3>
                            <p>دوره‌های ‌ما دوره های مهارت محور کوتاه‌مدت کاربردی هستند که با همکاری دانشگاه‌های برتر کشور تهیه مي‌شوند و به صورت تعاملی ارائه مي‌شوند. هدف از این دوره‌ها تربیت نیروی کار مورد نیاز برای ورود به بازار کار است به صورتی که افراد با کسب مهارت مورد نیاز و گذراندن دوره، می‌توانند در شرکت‌ها یا به صورت فردی مشغول به کار شوند و کسب درآمد کنند.</p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-lg-6 col-md-6">
                <article class="single_gallery_section">
                    <figure>
                        <div class="gallery_thumb">
                            <img src="/img/about/about3.jpg" alt="">
                        </div>
                        <figcaption class="about_gallery_content">
                            <h3>تاریخچه ما</h3>
                            <p>
                                از آغاز فعالیت خود تاکنون با ضبط و ارائه دروس اساتید برتر از دانشگاه‌های تراز اول کشور و ارائه رایگان آن‌ها مجموعه‌ای بي‌نظیر از بیش از 400 درس و 15,000 ساعت ویدئو آموزشی با کیفیت و رایگان در حوزه های مختلف تولید کرده است. سالانه میلیون ها نفر فارسی زبان در داخل و خارج از ایران از محتواهای ما استفاده می کنند.
                            </p>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</div>
<div class="choseus_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="/img/about/About_icon1.png" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>تضمین کیفیت دوره</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="/img/about/About_icon2.png" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>کارآمد بودن</h3>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="single_chose">
                    <div class="chose_icone">
                        <img src="/img/about/About_icon3.png" alt="">
                    </div>
                    <div class="chose_content">
                        <h3>تحت نظارت برترین استید</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <article class="team_member">
                    <figure>
                        <div class="team_thumb">
                            <img src="/img/about/about-us-person1.png" alt="">
                        </div>
                        <figcaption class="team_content">
                            <h3>محمد</h3>
                            <h5>مدیر فنی</h5>
                            <p>
                                تلفن: <span class="ltr-text">+(98) 123 456 789</span>
                                <br> ایمیل: Mohammad@Gmail.Com
                            </p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-lg-3 col-md-6">
                <article class="team_member">
                    <figure>
                        <div class="team_thumb">
                            <img src="/img/about/about-us-person2.png" alt="">
                        </div>
                        <figcaption class="team_content">
                            <h3>ساحل</h3>
                            <h5>طراح</h5>
                            <p>
                                تلفن: <span class="ltr-text">+(98) 123 456 789</span>
                                <br> ایمیل: Sahel@Gmail.Com
                            </p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-lg-3 col-md-6">
                <article class="team_member">
                    <figure>
                        <div class="team_thumb">
                            <img src="/img/about/about-us-person3.png" alt="">
                        </div>
                        <figcaption class="team_content">
                            <h3>محسن</h3>
                            <h5>توسعه دهنده</h5>
                            <p>
                                تلفن: <span class="ltr-text">+(98) 123 456 789</span>
                                <br> ایمیل: mohsen@yahoo.com
                            </p>
                        </figcaption>
                    </figure>
                </article>
            </div>
            <div class="col-lg-3 col-md-6">
                <article class="team_member">
                    <figure>
                        <div class="team_thumb">
                            <img src="/img/about/about-us-person4.png" alt="">
                        </div>
                        <figcaption class="team_content">
                            <h3>علیرضا</h3>
                            <h5>برنامه نویس</h5>
                            <p>
                                تلفن: <span class="ltr-text">+(98) 930 080 4882</span>
                                <br> ایمیل: mranotmillion@gmail.com
                            </p>
                        </figcaption>
                    </figure>
                </article>
            </div>
        </div>
    </div>
</div>