
@{
    ViewData["Title"] = "تماس با ما";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>تماس با ما</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contact_area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 border rounded m-3 mt-5 p-3 shadow">
                <div class="contact_message content">
                    <h3>تماس با ما</h3>
                    <ul>
                        <li><i class="fa fa-fw fa-map-marker"></i> فارس، شیراز، چهارراه زند،پلاک 85</li>
                        <li><i class="fa fa-fw fa-phone"></i> <span class="ltr-text">+(98) 930 08 04 882</span> ، <span class="ltr-text">+(98) 930 08 04 882</span></li>
                        <li><i class="fa fa-fw fa-envelope-o"></i> <a href="#">mranotmillion@gmail.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


