@model IEnumerable<HamechiTamoom.Core.DTOs.ShowCourseListViewModel>
@{
    ViewData["Title"] = "خانه";
}
<cache expires-after="@TimeSpan.FromMinutes(180)">
    <partial name="_Slider" />
</cache>
<section class="product_area mb-46">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <div class="row">
                        <h2 class="col-md-9"><i class="fa fa-archive text-primary"></i> جدیدترین دوره های همه چی تموم</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="product_carousel product_column5 owl-carousel">
            <cache expires-after="@TimeSpan.FromMinutes(5)">
                @await Component.InvokeAsync("LatesCourse")
            </cache>
        </div>
    </div>
</section>
<section class="product_area mb-46">
    <div class="shop_area shop_fullwidth mt-60 mb-60">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <div class="section_title">
                            <h2 class="col-md-8"><i class="fa fa-reply-all text-primary"></i> همه دوره ها</h2>
                                <a class="btn btn-outline-primary col-md-3" href="/Course"><i class="fa fa-filter"></i> فیلتر ها </a>
                        </div>
                    </div>
                    <div class="row shop_wrapper">
                        <cache expires-after="@TimeSpan.FromMinutes(30)">
                            @await Component.InvokeAsync("AllCourses")
                        </cache>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
