@model HamechiTamoom.Core.DTOs.ChangePasswordViewModel
@{
    ViewData["Title"] = "ویرایش کلمه عبور";
}

<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li> پنل کاربری </li>
                        <li class="active"> ویرایش کلمه عبور </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="main_content_area">
    <div class="container">
        <div class="row">
            <!--partial-->
            <partial name="_SideBar" />
            <div class="col-md-9 border rounded shadow p-2">
                <div class="row">
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <!-- Tab panes -->
                        <div class="tab-content dashboard_content">
                            <div class="col-sm-12 col-md-9 col-lg-9">
                                <!-- Tab panes -->
                                <div class="tab-content dashboard_content">
                                    <div class="tab-pane fade active show" id="account-details">
                                        <h3 class="text-primary"> ویرایش کلمه عبور </h3>
                                        <hr/>
                                        <div>
                                            <div>
                                                <div class="account_login_form">
                                                    <form asp-action="ChangePassword" method="post">
                                                        @if (ViewBag.IsSuccess != null)
                                                        {
                                                            <div class="alert alert-success">
                                                                <p>کلمه عبور شما با موفقیت بروزرسانی شد</p>
                                                            </div>
                                                        }
                                                        <br>
                                                        <label class="text-black-50"><i class="zmdi zmdi-lock"></i> کلمه عبور فعلی</label>
                                                        <input type="password" asp-for="OldPassword" class="rounded">
                                                        <span class="text-danger" asp-validation-for="OldPassword"></span>
                                                        <br>
                                                        <label class="text-black-50"><i class="zmdi zmdi-lock"></i> کلمه عبور جدید</label>
                                                        <input type="password" asp-for="Password" class="rounded">
                                                        <span class="text-danger" asp-validation-for="Password"></span>
                                                        <br/>
                                                        <label class="text-black-50"><i class="zmdi zmdi-lock"></i> تکرار کلمه عبور جدید</label>
                                                        <input type="password" asp-for="RePassword" class="rounded">
                                                        <span class="text-danger" asp-validation-for="RePassword"></span>
                                                        <br>
                                                        <div>
                                                            <button class="bg-success" type="submit">ذخیره</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
