@using HamechiTamoom.Core.Convertors
@model HamechiTamoom.Core.DTOs.InformationUserViewModel
@{
    ViewData["Title"] = "پروفایل من";
}
<div class="breadcrumbs_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul>
                        <li><a href="/">خانه</a></li>
                        <li>پروفایل من</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- my account start  -->
<section class="main_content_area">
    <div class="container">
        <div class="row">
            <!--partial-->
            <partial  name="_SideBar"/>
            <div class="tab-pane fade show active col-md-9" id="dashboard">
                <div class="box-content border shadow p-3 rounded mb-2">
                    <h3 class="text-primary"> اطلاعات کاربری </h3>
                    <ul>
                        <li> <i class="zmdi zmdi-assignment-account"></i> نام کاربری : @Model.UserName </li>
                        <li> <i class="zmdi zmdi-email"></i> ایمیل : @Model.Email </li>
                        <li> <i class="zmdi zmdi-calendar-check"></i> تاریخ عضویت : @Model.RegisterDate.ToShamsi() </li>
                        <li> <i class="zmdi zmdi-money"></i> اعتبار فعلی : @Model.Wallet تومان </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

