@model HamechiTamoom.DataLayer.Entities.User.User
@{
    Layout = null;
}

<div>
    <h2>@Model.UserName عزیز</h2>
    <p style="color: darkblue">از اعتماد شما متشکریم . جهت فعالسازی حساب کاربری خود روی دکمه زیر کلیک کنید</p>
    <p>
        <a href="https://haamechitamoom.ir/Account/ActiveAccount/@Model.ActivationCode">فعالسازی</a>
    </p>
</div>


