<section class="blog_section mb-70">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h2>بلاگ</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="blog_carousel blog_column4 owl-carousel">
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/img/blog/blog1.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">توسط <a href="#">مدیر</a> 6 آذر 1398</p>
                                <h3 class="post_title"><a href="blog-details.html">مطلب بلاگ تصویری</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/img/blog/blog2.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">توسط <a href="#">مدیر</a> 6 آذر 1398</p>
                                <h3 class="post_title"><a href="blog-details.html">مطلب دارای گالری</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/img/blog/blog3.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">توسط <a href="#">مدیر</a> 6 آذر 1398</p>
                                <h3 class="post_title"><a href="blog-details.html">مطلب بلاگ صوتی</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/img/blog/blog4.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">توسط <a href="#">مدیر</a> 6 آذر 1398</p>
                                <h3 class="post_title"><a href="blog-details.html">مطلب بلاگ ویدیویی</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
                <div class="col-lg-3">
                    <article class="single_blog">
                        <figure>
                            <div class="blog_thumb">
                                <a href="blog-details.html"><img src="/img/blog/blog5.jpg" alt=""></a>
                            </div>
                            <figcaption class="blog_content">
                                <p class="post_author">توسط <a href="#">مدیر</a> 6 آذر 1398</p>
                                <h3 class="post_title"><a href="blog-details.html">لورم ایپسوم متن ساختگی</a></h3>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>