@model HamechiTamoom.Core.DTOs.ShowCourseListViewModel
<article class="single_product col-sm-12">
    <figure>
        <div class="product_thumb">
            <a href="/ShowCourse/@Model.CourseId"><img class="img-fluid card-img rounded" src="/img/Course/thumb/@Model.ImageName" alt="@Model.Title"></a>
        </div>
        <figcaption class="product_content">
            <h3 class="product_name"><a href="/ShowCourse/@Model.CourseId">@Model.Title</a></h3>
            <div class="price_box">
                @if (Model.Price == 0)
                {
                    <span class="current_price">رایگان</span>
                }
                else
                {
                    <span class="current_price text-success">@Model.Price.ToString("#,0") تومان</span>
                }
            </div>
        </figcaption>
    </figure>
</article>
