<!DOCTYPE html>
<html class="no-js" lang="fa" dir="rtl">
<head>
    <meta charset="utf-8">
    <title> همه چی تموم | @ViewData["Title"]</title>
    <partial name="_MetaTags" />
    <partial name="_Styles" />
</head>
<body>
    <partial name="_MainMenu" />
    <partial name="_Header" />
    <partial name="_StickyHeader" />
    @RenderBody()
    <partial name="_Footer" />
    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/jquery.validate.unobtrusive.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>

