<footer class="footer_widgets">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container">
                        <div class="footer_logo">
                            <a href="/"><img src="/img/logo/logoh.png" alt="لوگو سایت"></a>
                        </div>
                        <div class="footer_contact">
                            <p> مفتخریم که شما ما را انتخاب کرده اید همراهی شما باعث دلگرمی ماست</p>
                            <p><span>آدرس: </span> فارس، شیراز، چهارراه زند،پلاک 85</p>
                            <p><span>موبایل: </span><a class="ltr-text" href="tel:+989123456789">+(98) 930 080 4882</a> ، <a class="ltr-text" href="tel:+989123456789">+(98) 123 456 789</a> </p>
                            <p><span>پشتیبانی: </span><a target="_blank" href="#">mranotmillion@gmail.com</a></p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widgets_container widget_menu">
                        <h3>اطلاعات</h3>
                        <div class="footer_menu">
                            <ul>
                                <li><a href="/AboutUs">درباره ما</a></li>
                                <li><a href="/ContactUs">تماس با ما</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6">
                    <div class="widgets_container widget_menu">
                        
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="widgets_container newsletter">
                        <h3>ما را دنبال کنید</h3>
                        <div class="footer_social_link">
                            <ul>
                                <li><a class="facebook" href="https://www.instagram.com/alirez.amni/" target="_blank" title="فیسبوک"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="twitter" href="https://www.instagram.com/alirez.amni/" target="_blank" title="توییتر"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="instagram" href="https://www.instagram.com/alirez.amni/" target="_blank" title="اینستاگرام"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="telegram" href="https://www.instagram.com/alirez.amni/" target="_blank" title="تلگرام"><i class="fa fa-telegram"></i></a></li>
                                <li><a class="rss" href="https://www.instagram.com/alirez.amni/" target="_blank" title="RSS"><i class="fa fa-rss"></i></a></li>
                            </ul>
                        </div>
                        <div class="subscribe_form">
                            <h3>هم اکنون عضو خبرنامه ما شوید</h3>
                            <form id="mc-form" method="post">
                                <input id="mc-email" type="email" autocomplete="off" placeholder="... آدرس ایمیل شما" dir="ltr">
                                <button id="mc-submit">اشتراک!</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
