@model HamechiTamoom.DataLayer.Entities.User.User
@{
    Layout = null;
}

<div>
    <h2>@Model.UserName عزیز</h2>
    <p style="color: darkblue">برای بازیابی کلمه عبور روی لینک زیر کلیک کنید.</p>
    <p>
        <a href="https://haamechitamoom.ir/Account/ResetPassword/@Model.ActivationCode">بازیابی کلمه عبور</a>
    </p>
</div>