@using HamechiTamoom.Core.Consts
@using HamechiTamoom.Core.Security
<div class="Offcanvas_menu">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="canvas_open">
                    <a href="javascript:void(0)"><i class="ion-navicon"></i></a>
                </div>
                <div class="Offcanvas_menu_wrapper">
                    <div class="canvas_close">
                        <a href="javascript:void(0)"><i class="ion-android-close"></i></a>
                    </div>
                    <div class="support_info">
                        <p>تلفن تماس: <a class="ltr-text" href="tel:+989300804882">+98 930 080 4882</a></p>
                    </div>
                    <div class="top_right text-right">
                        <ul>
                            @if (User.Identity.IsAuthenticated)
                            {
                <li><a href="/">@User.Identity.Name خوش آمدی</a></li>
                                <li><a href="/UserPanel">حساب کاربری</a></li>
                                                <li><a href="/Logout">خروج</a></li>
 }
                                            else
                                            {
                                <li><a href="/Register">ثبت نام</a></li>
                                                <li><a href="/Login">ورود</a></li>
}
                        </ul>
                    </div>
                    <div class="search_container">
                        <form action="/Course" method="get">
                            <div class="search_box">
                                <input name="filter" placeholder="جستجوی دوره ..." type="text">
                                <button type="submit">جستجو</button>
                            </div>
                        </form>
                    </div>
                    <div class="middel_right_info">
                    </div>
                    @await Component.InvokeAsync("CourseGroupComponent")
                    <div class="Offcanvas_footer">
                        <span><a><i class="fa fa-envelope-o"></i> mranotmillion@gmail.com</a></span>
                        <ul>
                            <li><a class="facebook" href="https://www.instagram.com/alirez.amni/" title="فیسبوک"><i class="fa fa-facebook"></i> لایک</a></li>
                            <li><a class="twitter" href="https://www.instagram.com/alirez.amni/" title="توییتر"><i class="fa fa-twitter"></i> توییت</a></li>
                            <li><a class="pinterest" href="https://www.instagram.com/alirez.amni/" title="پینترست"><i class="fa fa-pinterest"></i> ذخیره</a></li>
                            <li><a class="google-plus" href="https://www.instagram.com/alirez.amni/" title="گوگل پلاس"><i class="fa fa-google-plus"></i> اشتراک گذاری</a></li>
                            <li><a class="telegram" href="https://www.instagram.com/alirez.amni/" title="تلگرام"><i class="fa fa-telegram"></i> تلگرام</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>