<section class="slider_section mb-70">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/TL.webp">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1> اصولی</h1>
                            <h2>آموزش طراحی لوگو</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/Photoshop-min.webp">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1> پروژه محور</h1>
                            <h2>آموزش فتوشاپ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/Sofal-min.webp">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1> در خانه</h1>
                            <h2>سفالگری بدون کوره</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>