<section class="slider_section mb-70">
    <div class="slider_area owl-carousel">
        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/LGDesign.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1> اصولی</h1>
                            <h2>آموزش طراحی لوگو</h2>
                            <p>پیشنهاد ویژه <span> 20% تخفیف </span> این هفته</p>
                            <a class="button" href="shop.html">اکنون ثبت نام کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/Photoshop-min.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1> پروژه محور</h1>
                            <h2>آموزش فتوشاپ</h2>
                            <p>پیشنهاد ویژه <span> 20% تخفیف </span> این هفته</p>
                            <a class="button" href="shop.html">اکنون ثبت نام کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center" data-bgimg="/img/slider/Sofal-min.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="slider_content">
                            <h1> در خانه</h1>
                            <h2>سفالگری بدون کوره</h2>
                            <p>پیشنهاد ویژه <span> 20% تخفیف </span> این هفته</p>
                            <a class="button" href="shop.html">اکنون ثبت نام کنید</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>