<div class="sticky_header_area sticky-header">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-3">
                <div class="logo">
                    <a href="/"><img src="/img/logo/logoh.png" alt=""></a>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="sticky_header_right menu_position">
                    <div class="main_menu">
                        <nav>
                            <ul>
                                <li><a href="/AboutUs">درباره ما</a></li>
                                <li><a href="/ContactUs"> تماس با ما</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="middel_right_info">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>